<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header"><strong>{{ctrl.title}}</strong> <a class="btn btn-info" href="#!/" style="float: right;">Back to Stores</a></div>
        <div class="card-body">
            <h4 class="card-title">
                    
                    <div class="alert alert-success alert-dismissible" ng-if="ctrl.successMessage">
                        <button type="button" class="close" data-dismiss="alert" ng-click="ctrl.successMessage=''">&times;</button>
                        {{ctrl.successMessage}}
                    </div>
                    <div class="alert alert-danger alert-dismissible"  ng-if="ctrl.errorMessage">
                        <button type="button" class="close" data-dismiss="alert" ng-click="ctrl.errorMessage=''">&times;</button>
                        {{ctrl.errorMessage}}
                    </div>
            </h4>
                <form ng-submit="ctrl.submit()">
                    <div ng-if="ctrl.id!=''" class="form-group row">
                        <label class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="ctrl.id" readonly="true"/> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Customer Identification Number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="ctrl.customer_identification_number" required="true"/> 
                        </div>
                    </div>
                    <div class="form-group row">
                        <ng-form>
                            <label class="col-sm-2 col-form-label">Items</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Product</span>
                                </div>
                                <select required="true" class="form-control"
                                    ng-options="product.name for product in ctrl.products track by product.id"
                                    ng-model="ctrl.selectedProduct" ng-change="ctrl.changePrice(product.unit_price)">
                                </select>
                                <span class="input-group-text">Quantity</span>
                                <input required="true" ng-model="ctrl.itemQuantity" type="number" class="form-control" placeholder="Quantity" step="1">
                                <span class="input-group-text">Unit Price</span>
                                <input required="true" ng-model="ctrl.itemUnitPrice" type="number" class="form-control" placeholder="Unit_Price" step="100.0">
                                <button type="button" ng-click="ctrl.addItem()" class="btn btn-success btn-sm">Add Item</button>
                            </div>  
                        </ng-form>
                        <table ng-show='ctrl.items.length > 0' class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="i in ctrl.items">
                                    <td>{{i.product.name}}</td>
                                    <td>{{i.quantity}}</td>
                                    <td>{{i.unit_price}}</td>
                                    <td><button ng-click="ctrl.removeItemAdded($index)" type="button" class="btn btn-danger btn-sm">Remove</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                <div class="form-group">
                    <input type="submit" ng-if="ctrl.id==''"  value="Create" class="btn btn-success btn-sm">
                    <input type="submit" ng-if="ctrl.id!=''" value="Update" class="btn btn-success btn-sm">
                    <button type="button" ng-click="ctrl.reset()" class="btn btn-info btn-sm">Reset</button>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer Identification</th>
                        <th>Total Value</th>
                        <th>Items</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="s in ctrl.sales">
                        <td>{{s.id}}</td>
                        <td>{{s.customer_identification_number}}</td>
                        <td>{{s.total_value}}</td>
                        <td>
                            <button type="button" class="btn btn-sm" ng-click="ctrl.changeShow($index)">Show Items</button>
                            <table  ng-show='ctrl.showDetailItems == $index' class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Unit Price</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="i in s.sale_items">
                                        <td>{{i.product.name}}</td>
                                        <td>{{i.quantity}}</td>
                                        <td>{{i.unit_price}}</td>
                                        <td><button type="button" ng-click="ctrl.removeItem(i.id)" class="btn btn-danger btn-sm">Remove</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
    